.crew-header {
  padding-left: var(--padding);
}
.movie-crew {
  text-align: left;
  padding: 0 var(--padding);
  .movie-crew-person {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
  }

  .movie-crew-photo {
    width: 12vw;
    height: 12vw;
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
    border-radius: 0.5em;
    margin-right: 5vw;
  }
}

.show-more-button {
  color: var(--black);
  background-color: var(--primary);
  &:hover {
    background-color: var(--primaryHover);
  }
}


