.movie-info-wrapper{
  border-top: solid 1px var(--primary);

  .movie-title{
    padding: 0 var(--padding);
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px #ffffff50 solid;
    border-bottom: 1px #ffffff50 solid;
    padding: 1em 0;
    background-color: #ffffff10;
    
  
    .movie-genres {
      display: flex;
      
    }

    p{
      line-height: 1.4;
    }
  }
  
  .movie-year {
    font-weight: 400;
    color: var(--gray1);
    font-size:medium;
  }
  
  .movie-overview {
    text-align: left;
    padding: 0 var(--padding);
  
    .movie-tagline {
      font-style: italic;
      color: var(--gray1);
    }
  }
  
}