.movie-header-wrapper {
  position: relative;
  width: 100vw;
  height: 100%;

  .movie-header {
    position: relative;
    width: 100vw;
    height: 30vh;
    content: "";
    color: var(--primary) !important;

    .movie-poster {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 80%;
      border-radius: 0.5em;
      opacity: 1;
      z-index: 99;
    }

    .movie-backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(0.1em);
      opacity: .5;
    }

    .back-button {
      position: absolute;
      top: 0.5em;
      left: var(--padding);
      font-size: 1.5em;
      z-index: 99;
      cursor: pointer;

      .back-icon {
        background-color: var(--primary);
        color: var(--black);

        &:hover {
          background-color: var(--primaryHover);
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .movie-header {
    height: 35vh!important;
  }
}
